<!-- Validation failure messages -->
<% if @course_material.errors.any? %>
  <% @course_material.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Course Material #<%= @course_material.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_course_material/<%= @course_material.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for book_id -->
      <div class="form-group">
        <label for="book_id" class="control-label">
          Book
        </label>

        <%= select_tag(:book_id, options_from_collection_for_select(Book.all, :id, :name, @course_material.book_id), :class => "form-control") %>
      </div>

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :course_name, @course_material.course_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Course Material
      </button>
      or
      <a href="/course_materials/<%= @course_material.id %>">Cancel</a>
    </form>
  </div>
</div>
