<div class="page-header">
  <h1>
    Course materials
    <a href="/course_materials/new" class="btn btn-lg btn-success">New Course material</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "course_materials_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :course_course_name_cont, "Course course_name contains" %>
      <%= f.text_field :course_course_name_cont, :class => "form-control", :placeholder => "Course course_name contains" %>
    </div>

<div class="form-group">
      <%= f.label :book_name_cont, "Book name contains" %>
      <%= f.text_field :book_name_cont, :class => "form-control", :placeholder => "Book name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/course_materials" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#course_materials_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Book</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>

      <% @course_materials.each do |course_material| %>
      <tr>
        <td>
          <% if course_material.book.present? %>
            <a href="/books/<%= course_material.book.id %>">
              <%= course_material.book.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if course_material.course.present? %>
            <a href="/courses/<%= course_material.course.id %>">
              <%= course_material.course.course_name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/course_materials/<%= course_material.id %>" class="btn btn-primary">Show</a>
          <a href="/course_materials/<%= course_material.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_course_material/<%= course_material.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @course_materials, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
