<!-- Validation failure messages -->
<% if @authorship.errors.any? %>
  <% @authorship.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Authorship #<%= @authorship.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_authorship/<%= @authorship.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for books_id -->
      <div class="form-group">
        <label for="books_id" class="control-label">
          Books
        </label>

        <%= select_tag(:books_id, options_from_collection_for_select(Book.all, :id, :name, @authorship.books_id), :class => "form-control") %>
      </div>

      <!-- Label and input for authors_id -->
      <div class="form-group">
        <label for="authors_id" class="control-label">
          Authors
        </label>

        <%= select_tag(:authors_id, options_from_collection_for_select(Author.all, :id, :created_at, @authorship.authors_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Authorship
      </button>
      or
      <a href="/authorships/<%= @authorship.id %>">Cancel</a>
    </form>
  </div>
</div>
