<div class="page-header">
  <h3>Authorship #<%= @authorship.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Books</dt>
      <dd>
        <% if @authorship.books.present? %>
          <a href="/books/<%= @authorship.books_id %>">
            <%= @authorship.books.name %>
          </a>
        <% end %>
      </dd>

      <dt>Authors</dt>
      <dd>
        <% if @authorship.authors.present? %>
          <a href="/authors/<%= @authorship.authors_id %>">
            <%= @authorship.authors.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/authorships" class="btn btn-primary">
        Back
      </a>
      <a href="/authorships/<%= @authorship.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_authorship/<%= @authorship.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
