<!-- Validation failure messages -->
<% if @class_schedule.errors.any? %>
  <% @class_schedule.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Class Schedule #<%= @class_schedule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_class_schedule/<%= @class_schedule.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for courses_id -->
      <div class="form-group">
        <label for="courses_id" class="control-label">
          Courses
        </label>

        <input type="text" id="courses_id" name="courses_id" placeholder="Courses" class="form-control" value="<%= @class_schedule.courses_id %>">
      </div>

      <!-- Label and input for students_id -->
      <div class="form-group">
        <label for="students_id" class="control-label">
          Students
        </label>

        <input type="text" id="students_id" name="students_id" placeholder="Students" class="form-control" value="<%= @class_schedule.students_id %>">
      </div>

      <button class="btn btn-warning">
        Update Class Schedule
      </button>
      or
      <a href="/class_schedules/<%= @class_schedule.id %>">Cancel</a>
    </form>
  </div>
</div>
