<div class="page-header">
  <h3>Class Schedule #<%= @class_schedule.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Courses</dt>
      <dd>
        <% if @class_schedule.courses.present? %>
          <a href="/courses/<%= @class_schedule.courses_id %>">
            <%= @class_schedule.courses.course_name %>
          </a>
        <% end %>
      </dd>

      <dt>Students</dt>
      <dd>
        <% if @class_schedule.students.present? %>
          <a href="/students/<%= @class_schedule.students_id %>">
            <%= @class_schedule.students.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/class_schedules" class="btn btn-primary">
        Back
      </a>
      <% if current_student == @class_schedule.students %>
        <a href="/class_schedules/<%= @class_schedule.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_class_schedule/<%= @class_schedule.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
