<div class="page-header">
  <h3>Book #<%= @book.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @book.name %></dd>

      <dt>Edition</dt>
      <dd><%= @book.edition %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/books" class="btn btn-primary">
        Back
      </a>
      <a href="/books/<%= @book.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_book/<%= @book.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Book has many course_materials -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Course Materials
      </li>

      <% @book.course_materials.each do |course_material| %>
        <li class="list-group-item">
          <a href="/course_materials/<%= course_material.id %>">
            <%= course_material.book_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/course_materials/<%= course_material.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/course_materials/<%= course_material.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_course_material/<%= course_material.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_course_material" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for book_id -->
      <input type="hidden" name="book_id" value="<%= @book.id %>">

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :course_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Course Material
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Book has many authorships -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Authorships
      </li>

      <% @book.authorships.each do |authorship| %>
        <li class="list-group-item">
          <a href="/authorships/<%= authorship.id %>">
            <%= authorship.books_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/authorships/<%= authorship.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/authorships/<%= authorship.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_authorship/<%= authorship.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_authorship" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for books_id -->
      <div class="form-group">
        <label for="books_id" class="control-label">
          Books
        </label>

        <%= select_tag(:books_id, options_from_collection_for_select(Book.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for authors_id -->
      <div class="form-group">
        <label for="authors_id" class="control-label">
          Authors
        </label>

        <%= select_tag(:authors_id, options_from_collection_for_select(Author.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Authorship
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
