<div class="page-header">
  <h3>Course #<%= @course.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Course name</dt>
      <dd><%= @course.course_name %></dd>

      <dt>Course code</dt>
      <dd><%= @course.course_code %></dd>

      <dt>Professor</dt>
      <dd><%= @course.professor %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courses" class="btn btn-primary">
        Back
      </a>
      <a href="/courses/<%= @course.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_course/<%= @course.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Course has many course_materials -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Course Materials
      </li>

      <% @course.course_materials.each do |course_material| %>
        <li class="list-group-item">
          <a href="/course_materials/<%= course_material.id %>">
            <%= course_material.book_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/course_materials/<%= course_material.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/course_materials/<%= course_material.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_course_material/<%= course_material.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_course_material" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for book_id -->
      <div class="form-group">
        <label for="book_id" class="control-label">
          Book
        </label>

        <%= select_tag(:book_id, options_from_collection_for_select(Book.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for course_id -->
      <input type="hidden" name="course_id" value="<%= @course.id %>">

      <button class="btn btn-block btn-success">
        Create Course Material
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Course has many class_schedules -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Class Schedules
      </li>

      <% @course.class_schedules.each do |class_schedule| %>
        <li class="list-group-item">
          <a href="/class_schedules/<%= class_schedule.id %>">
            <%= class_schedule.courses_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/class_schedules/<%= class_schedule.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/class_schedules/<%= class_schedule.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_class_schedule/<%= class_schedule.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_class_schedule" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for courses_id -->
      <div class="form-group">
        <label for="courses_id" class="control-label">
          Courses
        </label>

        <%= select_tag(:courses_id, options_from_collection_for_select(Course.all, :id, :course_name), :class => "form-control") %>
      </div>

      <!-- Label and input for students_id -->
      <input type="hidden" name="students_id" value="<%= current_student.id %>">

      <button class="btn btn-block btn-success">
        Create Class Schedule
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
